@use "sass:math";

@import "./components/assets/fonts";
@import "./components/assets/mixins";
@import "./components/assets/variables";
@import "./components/assets/base";

/*------------------ОБОЛОЧКА------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: $backgroundBlack;
}

[class*="__container"] {
  width: 100%;
  max-width: rem(1170);
  margin: 0 auto;
  padding: 0 rem(15);
}
/*------------------ОБОЛОЧКА------------------*/
/*------------------preloader------------------*/
@import "./components/preloader/preloader";
/*------------------preloader------------------*/

/*------------------HEADER------------------*/
@import "./components/header/header";

/*------------------HEADER------------------*/

/*------------------MAIN------------------*/
.main {
  flex: 1 1 auto;
}

/*------------------CARD------------------*/
@import "./components/cardList/cardList";
/*------------------CARD------------------*/

/*------------------MAIN------------------*/

/*------------------FOOTER------------------*/
@import "./components/footer/footer";
/*------------------FOOTER------------------*/

/*------------------POPUP------------------*/
@import "./components/modal/modalCard";
@import "./components/modal/modalError";
/*------------------POPUP------------------*/

.modal-show {
  display: flex;
}
