$backgroundBlack: #0a0a0a;
$colorTextWhite: #ffffff;
$colorTextOrange: #f8a10d;
$colorTextGreen: #008000;
$colorTextRed: #ff0000;

$fontFamilyLogo: "Permanent Marker", cursive;
$fontFamily: "Lora", serif;
